[package]
name = "test-suites"
version = "0.0.0"
authors = ["Blend Capital <gm@blend.capital>"]
license = "AGPL-3.0"
edition = "2021"
publish = false

[lib]
crate-type = ["rlib"]
doctest = false

[features]
testutils = ["soroban-sdk/testutils"]

[dependencies]
soroban-sdk = "0.9.2"
rand = {version = "0.7.3"}
fixed-point-math = "0.0.2"


[dev_dependencies]
soroban-sdk = { version = "0.9.2", features = ["testutils"] }
rand = {version = "0.7.3"}